<div id="k2_debug_container">
    <ul class="k2_debug_tabs">
        <li id="k2_debug_queries" style="width: 130px">
            <h5>Consultas SQL: {{ queries.count|default(0) }}</h5>
            {% if queries.queries %}
                <div class="k2_debug_info">
                    {% for url, collection in queries.queries %}
                        {% if collection.all() %}
                            <ul class="k2_debug_queries_list">
                                <li><h4> Petición: {{ url }}</h4></li>
                                {% for query in collection.all %}
                                    <li class="k2_debug_query_{{ query.type|lower }}">
                                        <code>{{ query.sql }}</code>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </li>
        <li>
            <h5>Petición: {{ app.request.requestUrl }}</h5>
            <div class="k2_debug_info">
                <ul>
                    <li><b>URL:</b> {{ app.request.requestUrl }}</li>
                    <li><b>Módulo:</b> {{ app.context.module_url }} => {{ app.context.module.name }}</li>
                    <li><b>Controlador:</b> {{ app.context.controller }}</li>
                    <li><b>Acción:</b> {{ app.context.action }}</li>
                    <li><b>Parametros:</b> {{ app.context.parameters|join('/') }}</li>
                </ul>
            </div>
        </li>
        <li style="width: 160px">
            <h5>Respuesta: Status = {{ status }}</h5>
            <div class="k2_debug_info">
                <ul>
                    <li><b>Charset:</b> {{ charset }}</li>
                    <li><b>Estado:</b> {{ status }}</li>
                    {% for h,i in headers %}
                        {% if is_numeric(i) %}
                            <li><b>{{ h }}</b></li>
                        {% else %}
                            <li><b>{{ i }}</b> {{ h }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li style="width: 140px">
            <h5>Variables Volcadas: {{ dumps|length }}</h5>
            {% if dumps %}
                <div class="k2_debug_info">
                    <ul>        
                        {% for title, var in dumps %}
                            <li><b>{{ title }}</b><pre>{{ dump(var) }}</pre></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </li>
        <li style="width: 150px">
            <h5>Usuario: {{ token and app.user.username ? app.user.username : 'No hay sesión.' }}</h5>
            {% if token %}
                <div class="k2_debug_info">
                    <ul>
                        <li><b>Clase de Usuario</b>: {{ user_class }}</li>
                        <li><b>Nombre de Usuario</b>: {{ app.user.username }}</li>
                        <li><b>Roles</b>:
                            <ul>
                                {% for rol in roles %}
                                    <li>{{ rol }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><b>Atributos Adicionales</b>:
                            <ul>
                                {% for index, attr in token_attrs %}
                                    <li><b>{{ index }}</b>: {{ attr }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </li>
        <li style="width: 140px">
            <h5>{{ tiempo }} seg. / {{ memoria }} MB</h5>
        </li>
    </ul>
</div>
<style>
    #k2_debug_container{position: fixed;height: 50px;width: 100%;background-color: #F5F5F5;bottom: 0px;left: 0px;box-shadow: 0 0px 5px #000}
    .k2_debug_tabs{margin: 0px 10px;padding: 0;white-space: nowrap}
    .k2_debug_tabs li{padding: 5px;vertical-align: top;display: inline-block;border-right: 1px solid #c1c0c0;width: 15%;position: relative;white-space: normal;min-height: 45px}
    .k2_debug_tabs li h5{margin: 0px;padding: 0px;font-size: 12px;overflow: hidden;white-space: nowrap}
    #k2_debug_container .k2_debug_info ul{width: 100%;}
    #k2_debug_container .k2_debug_info li{border-bottom: 1px solid #c1c0c0;padding: 10px;width: 100%;min-height: 20px}
    .k2_debug_tabs > li:hover .k2_debug_info{display: block;}
    .k2_debug_info{display: none;position: fixed;width: 100%;left: 0px;background-color: #e6e4e4;box-shadow: 0 0px 5px #000;bottom: 49px;max-height: 400px;overflow: auto;}
    .k2_debug_queries_list{margin: 0;padding: 0}
    .k2_debug_query_select{background-color: #f0f7ff}
    .k2_debug_query_insert{background-color: #f0fff0}
    .k2_debug_query_update{background-color: #f6ebfc}
    .k2_debug_query_delete{background-color: #feefef}
</style>
